@{
    ViewData["Title"] = "Information";
}

<link rel="stylesheet" href="~/css/informationssummary.css" />

<div class="main-container">
    <div class="links-container">
        <h2 id="hunting-link">JAKT</h2>
        <h2 id="weather-link">KLIMAT</h2>
        <h2 id="gear-link">UTRUSTNING</h2>
        <h2 id="nature-link">DJUR & NATUR</h2>
    </div>
    <div id="info-container">
    </div>
</div>


<script type="module" src="~/js/informationSummary.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>