@model pilgrimsvandringen_grupp_5_e.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Konto";
}
<link rel="stylesheet" href="~/css/account.css" />
<main class="main-form-container">
    <section class="account-container account-form-item container mt-5">
        <h2 class="text-center">Skapa konto</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
        <form asp-action="Register" method="post" class="mt-4">
            <div class="form-group mb-3">
                <label asp-for="UserName" class="form-label">Användarnamn</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label">E-post</label>
                <input asp-for="Email" type="email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Lösenord <br />(Minst 1 stor bokstav, 6 tecken långt, 1 siffra och ett specialtecken)</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Bekräfta lösenordet</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Skapa konto</button>
        </form>
    
        <div class="mt-3 text-center">
            <p>Har du redan ett konto? <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Logga in här</a></p>
        </div>
    </section>
</main>