body {
    background-color: #292F15;
    color: white;
}

h2 {
    margin: 10px;
}

h3 {
    margin: 10px;
}

.main-form-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.account-container {
    margin-top: 100px;
}

.account-form-item {
    background-color: #61714A;
    margin: 80px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: white !important;
    width: 400px;
}
.form-login{
    padding: 0px 10px 10px;
}

.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 0px 0px;
}

.main-index-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}