body {
    background-color: #292F15;
    padding: 0px; 
    margin: 0px;
}

.trail-cards-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    width: 70%;
    margin: 100px auto;
}

.trail-card-item {
    background-color: #181C0C;
    max-width: 40%;
    min-width: 350px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

    .trail-card-item h3, p{
        color: white;
    }

.trail-image {
    width: 100%; 
}

.stats-icon {
    height: 20px;
}

.trail-stats-container {
    display: flex;
}

.trail-info-container {
    padding: 20px;
}

.trail-stats-container {
    display: flex;
    justify-content: space-around;
}

.stats-container {
    display: flex;
    gap: 5px;
    background-color: rgb(48, 48, 48);
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    align-self: center;
}

    .stats-container p {
        line-height: 1.3;
        color: white; 
    }

@media all and (max-width:1100px) {

    .trail-cards-container {
        width: 100%;
        margin: 30px 0px;
    }

    

}
