body {
    background-color:#292F15;
    color: white;
    
}

h3 {
    margin: 0px; 
}


.trail-page {
    margin: 0 10%;
}

.stage-image-container {
    display:flex;
    justify-content: center;
}

.trail-info-container {
    display: flex;
    margin: 20px 0;
    gap: 20px;
}

.trail-name-container {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 20px;
    background-color: #181C0C;
    border-radius: 16px;
}

    .trail-name-container h1 {
        margin-left: 30px; 
    }




    .circle-item {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin: 0px;
    }

.trail-stats-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 20%;
    
}

.trail-stats-item {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #181C0C;
    border-radius: 16px;
    
}

.trail-stats-item img {
   width: 30px;
   margin-right: 15px; 
} 

p {
    margin:0;
}

.trail-description-container {
    align-items: center;
    gap: 20px;
    background-color: #181C0C;
    padding: 40px;
    border-radius: 16px;
    margin: 20px 0;
}

.safety-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #61714A;
    padding: 0px 100px;
    border-radius: 16px;
}

.safety-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

    .safety-item h3 {
        font-size: 1.5rem;
    }

    .safety-item p {
        font-size: 1rem;
    }

    .safety-item img {
        height: 40px;
    }

.trail-stages-container {
    margin: 50px 0px; 
    position: relative;
    justify-content: center;
    width: 100%;
}
   

#flex-container-stages {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    width: 95%;
    margin:auto;
}

    #flex-container-stages::-webkit-scrollbar {
        display: none;
    }

.button-container {
    border: 2px solid white;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translate(0%, -50%);
    background: rgba(0, 0, 0, 0.365);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   
}

#back-button{
    display:none;
}

    #back-button img {
        transform: scaleX(-1);
    }

#forward-button{
    position: absolute;
    right:0;
}

.stage-item {
    position:relative;
    display:flex;
    flex-direction:column;
    background-color: #181818;
    height: 350px;
    width:  23%;
    border-radius: 15px;
    flex-shrink: 0;
    text-align: revert;  
    cursor:pointer; 
}

    .stage-item img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        object-fit:cover;
       
    }

.stage-description {
    position: absolute;
    bottom: 0;
    width:100%;
    padding:10px;
    border-radius: 0 0 15px 15px;
    background: rgba(0, 0, 0, 0.5);
    border:none;
}

.stage-title{
    font-size:2rem;
}

.stage-length {
    background-color: rgba(18, 18, 18, 0.7);
    border-radius: 16px;
    padding: 5px 10px;
    width: 100px;
}

#stats-icon{
    width:20px;
    margin-right:5px;
}

.big-container {
    background-color: #181C0C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
    margin: 20px auto;
    padding: 40px;
    border-radius: 20px;
}

.stage-name-container {
    background-color: #242424;
    text-align: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.description-container {
    background-color: #242424;
    padding: 20px;
    border-radius: 20px;
}

.stage-stats-container {
    display: flex;
    gap: 10px;
    width: 100%;
    border-radius: 20px;
}

    .stage-stats-container img {
        height: 40px;
        margin-right: 10px;
    }



.stats-item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    background-color: #242424;
    border-radius: 10px;
}


.checkbox-wrapper-1 *,
.checkbox-wrapper-1 ::after,
.checkbox-wrapper-1 ::before {
    box-sizing: border-box;
}

.checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

    .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
        content: "";
        display: inline-block;
        vertical-align: top;
        height: 1.5em;
        width: 1.5em;
        margin-right: 0.6em;
        color: rgba(0, 0, 0, 0.275);
        border: solid 0.06em;
        box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
        border-radius: 0.2em;
        background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
        background-size: 0;
        will-change: color, border, background, background-size, box-shadow;
        transform: translate3d(0, 0, 0);
        transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
    .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
        box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
        background-color: #f0f0f0;
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
        background-color: #3B99FC;
        background-size: 0.75em;
        color: rgba(0, 0, 0, 0.075);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
    .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
        background-color: #0a7ffb;
        color: rgba(0, 0, 0, 0.275);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
        box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
    .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
        box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
        opacity: 0.5;
    }

    .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
        color: rgba(255, 255, 255, 0.275);
        background-color: #222;
        background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
    }

    .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
    .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
        background-color: #444;
        box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
    }

    .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
        background-color: #a97035;
        color: rgba(255, 255, 255, 0.075);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
    .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
        background-color: #c68035;
        color: rgba(0, 0, 0, 0.275);
    }

    .checkbox-wrapper-1 [type=checkbox].substituted + label {
        -webkit-user-select: none;
        user-select: none;
    }


.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 35px;
    padding-top: 100px;
}


.checkbox-wrapper-1 {
    display: flex;
    align-items: center;
}

    .checkbox-wrapper-1 label {
        display: flex;
        align-items: center;
        position: relative;
        top: -2px;
        font-size: 1.2em;
        color: white;
    }

.trail-map {
    top: 100px;
    height:500px;
    width:100%
}





@media all and (max-width:800px) {
    .trail-page{
        margin:4%;
    }
    
    .safety-container {
       display:block;
    }

   
    .trail-name-container{
        width:100%;
        padding: 10px 0;
    }

    .stage-image-container img{
        width:100%;
    }

    .trail-stats-container {
        flex-direction: row;
        width:auto;
       
    }

    .trail.stats-item{
        width:20%;
    }

    .trail-description-container{
        text-align:center;
    }
}

@media all and (max-width:600px) {
    .trail-info-container {
        flex-wrap: wrap;
        justify-content:center;
        width: 100%; 
    }

    .stage-item {
        height: 30vh; 
        width: 50%; 
    }

    #back-button {
        display: none;
    }

    #forward-button {
        display: none;
    }
    .trail-page {
        margin: 0 5px;
    }

    .stats-item img {
        height: 30px; 
    }

    .stats-item {
        padding: 5px; 
    }

    .big-container {
        width: 100%; 
    }

}