
@{
    ViewData["Title"] = "Karta";
} 

<body>

    <div id="map" class="map-div"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.7.5/proj4.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" /> 
<link rel="stylesheet" href="~/css/Map.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.5.0/gpx.min.js"></script>
<script type="module" src="~/js/Maps/Map.js" asp-append-version="true"></script> 




<div class="checkbox-container" id="checkboxes-icons">
   
</div>


</body>
